body {
    background-color: black;
    color: rgb(51, 147, 22);
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    width: 600px;
    height: 600px;
    gap: 1px;
}

.grid-item {
    background-color: transparent;
    border: 1px solid #948989;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    resize: both;
    overflow: hidden;
    min-width: 40px;
    min-height: 20px;
    max-width: 200px;
    max-height: 100px;
    width: 80px;
    height: 40px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
    user-select: none;
}
